/*font link*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/*common start*/
body {
	font-family: 'poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000000;
}

/*common end*/
/*header start*/
header {

}
.cnav {}
.logo {}
.menu {}
.menu ul li a {

}
.menu ul li a:hover{
	
}
/*header end*/